<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script type="text/javascript" src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="../static/lib/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/lib/index.css">
    <script type="text/javascript" src="../static/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/lib/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="all">
            
        </div> 
    </div>
<script>
    var app = new Vue({
        el: "#app",
        data: {

        },
        methods: {

        },
        created() {
        },
        computed: {
        }
    })
</script>
<style>
    
</style>
</body>
</html>